github_questions/
*/target/* 
/nois_examples
/imageproc
/imageproc_effects_layers
/noise_generator
/build_to_app_bundle
/pack_lag
/draw_matrixes
/global_menu_bar
/render_progress
/raqote_canvas
/speedy2d_advanced
/criterion
/undo
/undo_copy
/rundo
/github_questions
/history_tree
/mac_osx_cursors
/stateful_template
/palette